.mygallery-css{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(240px, 1fr) );
    gap: 25px;
}
.img-css{
    border-radius: 12px;
}
.price-css{
    border-radius: 5px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.old-price{
    text-decoration: line-through;

    margin-left: 20px;
    color: rgb(126, 128, 128);
}
.color-css{
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;   
    border-radius: 10px;
}
.color-div-css{
    padding: 35px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 5px;
}
.size-css{
    padding: 6px 25px;
    border-radius: 5px;
   cursor:pointer;
    border-radius: 5px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}